@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap);

.font-logo{
    font-family: Nunito;
    color: #005479;
    @apply font-extrabold text-2xl ml-3;
}

.font-logo:before{
    color: #ffba41;
    content: "swipe";
}