.c-avatar {
    height: 56px;
    width: 56px;
    @apply bg-gray-100 items-center justify-center rounded text-lg font-semibold;
}

.c-avatar.v--circle {
    @apply rounded-full;
}

.c-avatar.v--small {
    height: 38px;
    width: 38px;
}